 {{> nav}}

<!-- Carousel  ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="images/index/profile.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Actively Looking For Full-Time Software Engineer Job</h1>
                    <p>I'm Software Engineer in Holistic Labs Inc. With Solid Knowledge in Data Structure and Deep Understanding in Algorithm, I'm actively looking for a Full-Time opportunity in the U.S.</p>
                    <p><a class="btn btn-lg btn-primary" href="#profile" role="button">View Profile</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="images/index/shopcover.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption slid2">
                    <h1>Yuxin's Shop Demo</h1>
                    <p>MongoDB, Expressjs, Node.js based web application runs on AWS EC2</p>
                    <p><a class="btn btn-lg btn-primary" href="/shop" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="images/index/github.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption slid3">
                    <h1>My Github Page</h1>
                    <p>A gallary which shows Verieties of my projects, my contributions and my practice</p>
                    <p><a class="btn btn-lg btn-primary" href="https://github.com/taylorzhangyx" role="button">Visit My Github</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /.carousel -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row" id='profile'>
        <div class="col-lg-4">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 selfcard">
            <img class="img-circle" src="/images/index/suitHead100.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Yuxin Zhang</h2>
            <p>Software Engineer in <a href="https://www.linkedin.com/company/9365079/">Holistic Labs Inc</a>. EE MS <a href="http://www.buffalo.edu/">@SUNY Buffalo</a>. Experienced Backend and System Engineer. Solid knowledge in Algorithm and Data Structure. Skill Set include <a href="https://projects.spring.io/spring-boot/">Spring Boot</a>, <a href="https://kafka.apache.org/">Kafka</a>, <a href="http://cassandra.apache.org/">Cassandra</a>, <a href="https://openwrt.org/">OpenWrt</a>, Linux, <a href="https://docs.microsoft.com/en-us/dotnet/framework/wpf/">WPF</a>, System Design and API Design. Have advcanced skills in Java, C/C++, C#</p>
            <p><a class="btn btn-primary" href="/file/yuxin_resume.pdf" role="button">Resume &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

</div>

<!-- START THE FEATURETTES -->

<div class="projectPanel1">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-5">
                <a href="/images/index/ProfilerDiagram.JPG"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="/images/index/ProfilerDiagram.JPG" alt="Kafka Data Streaming Platform Based Distributed System"></a>
            </div>
            <div class="col-md-7">
                <h1 class="featurette-heading"><a href="https://www.linkedin.com/company/9365079/" class="featuretitle">Holistic Labs IOT Platform</a></h1>
                <h3>IOT data storing and analyzing platform with Java Spring Framework and OpenWrt Platform including Kafka Data Streaming Cluster, Cassandra DB Cluster, Redis Remote Cache Cluster and Spring Boot Servers.</h3>
                <p><a class="btn btn-primary detail" href="https://www.linkedin.com/company/9365079/" role="button">Visit Home Page &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="projectPanel2">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading"><a href="/shop" class="featuretitle">Yuxin's Shop</a></h1>
                <h3>MongoDB, Expressjs, Node.js based web application runs on AWS EC2</h3>
                <p><a class="btn btn-primary detail" href="/shop/about" role="button">View Documentation &raquo;</a></p>
            </div>
            <div class="col-md-5">
                <a href="/shop"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="/images/index/shop.jpg" alt="The file is missing. Please refer to The link http://yuxinzh.site/shop"></a>
            </div>
        </div>
    </div>
</div>


<div class="projectPanel1">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-5">
                <a href="https://github.com/taylorzhangyx/Chatting-APP-and-Network-Routing"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="/images/index/chattingapp.jpg" alt="The file is missing. Please refer to The link https://github.com/taylorzhangyx/Chatting-APP-and-Network-Routing"></a>
            </div>
            <div class="col-md-7">
                <h1 class="featurette-heading"><a href="https://github.com/taylorzhangyx/Chatting-APP-and-Network-Routing" class="featuretitle">Online Chatting Application</a></h1>
                <h3>Server controlled Client Side Online Chatting Application with optimized routing algorithms and statistic collection</h3>
                <p><a class="btn btn-primary detail" href="https://github.com/taylorzhangyx/Chatting-APP-and-Network-Routing" role="button">View Details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="projectPanel2">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading"><a href="https://github.com/taylorzhangyx/MasterLabyrinth" class="featuretitle">Master Labyrinth</a></h1>
                <h3>Multiplayer Game followed full software developing life-cycle</h3>
                <p><a class="btn btn-primary detail" href="https://github.com/taylorzhangyx/MasterLabyrinth" role="button">View Details &raquo;</a></p>
            </div>
            <div class="col-md-5">
                <a href="https://github.com/taylorzhangyx/MasterLabyrinth"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="/images/index/labyrinth.png" alt="The file is missing. Please refer to The link https://github.com/taylorzhangyx/MasterLabyrinth"></a>
            </div>
        </div>
    </div>
</div>

<!-- /END THE FEATURETTES -->

<div class="container">
    {{> footer}}
</div>


<!-- /.container -->
