body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand img{
  max-height: 24px;
}


/*shop css*/


.thumbnail img{
  height: 150px;
}


.thumbnail .description{
  height: 200px;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}
